* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: antiquewhite;
    color: black;
}
header {
    text-align: center;
    padding: 25px;
    background-color: brown;
    border: 2px solid black;
    border-radius: 5px;
}